# Push Players

This notebook connect with the API to load a new player into the data base.

In [43]:
# The expected imports

import pandas as pd
import numpy as np

# to have access to the web service
import requests

# Define the connexion.

In [44]:
# The IP of the docker server

# Mac ip
ip = "192.168.178.36"
# Raspberry pi 3 IP
# ip = "192.168.178.172"
# From external connexions. 
# ip = "saizvirtual.ddns.net"

## New player. 

Define the new player, in this case we didn't avaluate if could be a duplicate player. But whole be necessary to do. 

TODO: Test if it is a real new player.

In [45]:
player = {}
player['nombre'] = 'Ignacio Antonio'
player['apellidos'] = 'Garcia Saiz'
player['dni'] = 2890342
player['nick'] = 'smurf'
player['email'] = 'tGARsa2@me.com'
player['telefono'] = '916290534'
player['residencia'] = 'Madrid'
player['talla'] = 'XXL'
player['discapacidades'] = 'Multiples'
player['observaciones'] = 'Tonto el culo'

In [46]:
df_player = pd.DataFrame.from_dict(player, orient='index').transpose()

#### player

In [47]:
df_player

,nombre,apellidos,dni,nick,email,telefono,residencia,talla,discapacidades,observaciones
0,Ignacio Antonio,Garcia Saiz,2890342,smurf,tGARsa2@me.com,916290534,Madrid,XXL,Multiples,Tonto el culo

In [48]:
df_json = df_player.to_json()

In [49]:
df_json

'{"nombre":{"0":"Ignacio Antonio"},"apellidos":{"0":"Garcia Saiz"},"dni":{"0":2890342},"nick":{"0":"smurf"},"email":{"0":"tGARsa2@me.com"},"telefono":{"0":"916290534"},"residencia":{"0":"Madrid"},"talla":{"0":"XXL"},"discapacidades":{"0":"Multiples"},"observaciones":{"0":"Tonto el culo"}}'

In [50]:
a = df_player.iloc[0]['email']
print(a)

tGARsa2@me.com

In [51]:
a.lower()

'tgarsa2@me.com'

# Load the player


To load into the Database, acrross the API

In [52]:
# URLs to connected with the app-service
# in this case the port is 

url = 'http://{}:5000/new_player'.format(ip)

In [53]:
url

'http://192.168.178.36:5000/new_player'

In [54]:
resp = requests.post(url, json={'df_json': df_json})

In [55]:
resp

In [56]:
resp.json()

{'label': 'Los campos dni, email, telefono tienen valores previamente almacenados.'}