In [27]:
import pandas as pd
import numpy as np 

# To have access to the database
import psycopg2

In [28]:
# Mac ip
ip = "192.168.178.36"
# Raspberry pi 3 IP
# ip = "192.168.178.172"
# From external connexions. 
# ip = "saizvirtual.ddns.net"


conexion = psycopg2.connect( 
    host=ip,
    port=5432,
    database="wehka",
    user="postgres",
    password="lop34sw@D")

cursor=conexion.cursor()

In [29]:

sql = '''
update jugadores
set residencia = 'Amsterdam'
where id_jugador = 'IAGS003'
returning *
'''

In [30]:
cursor.execute(sql)

In [32]:
conexion.commit()

In [ ]:
for cont, field in enumerate(['dni', 'email', 'telefono']):
    print(cont, field)

In [ ]:
fn(dni=2890337, email='tgarsa@me.com', telefono=6142978911)