# Testing Data into the Database 

This notebook is only to test the database, and evaluate if we were loading the data correctly.

In [48]:
import pandas as pd
import numpy as np

In [49]:
# To have access to the database
import psycopg2

## Conexion

Define the conexion to the Postgres container.

It is necesari to know the internal IP

In [50]:
# The IP of the docker server

# Mac ip
ip = "192.168.178.36"
# Raspberry pi 3 IP
# ip = "192.168.178.172"
# From external connexions. 
# ip = "saizvirtual.ddns.net"


conexion = psycopg2.connect( 
    host=ip,
    port=5432,
    database="wehka",
    user="postgres",
    password="lop34sw@D")

In [51]:
# Conected to the server
cursor=conexion.cursor()

## Download the whole dataset 
# Bronze

In [52]:
sql =  "select * from sedes where id_sede LIKE 'Malaga%'"
# sql="select * from jugadores_bronze"
columns = ['id', 'id_jugador', 'dni', 'nombre', 'apellidos', 'nick', 'email', 'telefono', 'residencia', 'pais','talla', 'discapacidades', 'observaciones', 'created_at']

In [53]:
cursor.execute(sql)

In [54]:
# How many data?
print('Number of rows: {}'.format(cursor.rowcount))

Number of rows: 1

In [55]:
# Recuperamos todos los datos, no es necesario descargar uno a uno. 

data = cursor.fetchall()

In [56]:
data

[(2,
  'Malaga001',
  None,
  'Malaga',
  'Estepona',
  29680,
  'Av. Juan Carlos I',
  40,
  'Sala Expopsiciones Rafael Mariscal',
  True,
  150,
  None,
  datetime.datetime(2024, 3, 26, 18, 41, 55, 497753),
  datetime.datetime(2024, 3, 26, 18, 41, 55, 497753))]

In [57]:
df = pd.DataFrame(data)#, columns=columns)

In [58]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,2,Malaga001,None,Malaga,Estepona,29680,Av. Juan Carlos I,40,Sala Expopsiciones Rafael Mariscal,True,150,None,2024-03-26 18:41:55.497753,2024-03-26 18:41:55.497753

## Download the whole dataset 

# Silver

In [59]:
#  Download the players. We connect directly to the database, not accross the API, 
# this is not the correct option to do, this is only a test.

sql="select * from jugadores"
columns = ['id', 'id_jugador', 'dni', 'nombre', 'apellidos', 'nick', 'email', 'telefono', 'residencia', 'pais', 'talla', 'discapacidades', 'observaciones', 'created_at', 'updated_at']

In [60]:
cursor.execute(sql)

In [61]:
# How many data?
print('Number of rows: {}'.format(cursor.rowcount))

Number of rows: 0

In [62]:
# Recuperamos todos los datos, no es necesario descargar uno a uno. 

data = cursor.fetchall()

In [63]:
df = pd.DataFrame(data, columns=columns)

In [64]:
df

Empty DataFrame
Columns: [id, id_jugador, dni, nombre, apellidos, nick, email, telefono, residencia, pais, talla, discapacidades, observaciones, created_at, updated_at]
Index: []