# Testing Data into the Database 

This notebook is only to test the database, and evaluate if we were loading the data correctly.

In [54]:
import pandas as pd
import numpy as np

In [55]:
# To have access to the database
import psycopg2

## Conexion

Define the conexion to the Postgres container.

It is necesari to know the internal IP

In [56]:
# The IP of the docker server

# Mac ip
ip = "192.168.178.36"
# Raspberry pi 3 IP
# ip = "192.168.178.172"
# From external connexions. 
# ip = "saizvirtual.ddns.net"


conexion = psycopg2.connect( 
    host=ip,
    port=5432,
    database="wehka",
    user="postgres",
    password="lop34sw@D")

In [57]:
# Conected to the server
cursor=conexion.cursor()

## Download the whole dataset

In [58]:
#  Download the players. We connect directly to the database, not accross the API, 
# this is not the correct option to do, this is only a test.

sql="select * from jugadores"
columns = ['id', 'id_jugador', 'dni', 'nombre', 'apellidos', 'nick', 'email', 'telefono', 'residencia', 'talla', 'discapacidades', 'observaciones']

In [59]:
cursor.execute(sql)

In [60]:
# How many data?
print('Number of rows: {}'.format(cursor.rowcount))

Number of rows: 12

In [61]:
# Recuperamos todos los datos, no es necesario descargar uno a uno. 

data = cursor.fetchall()

In [62]:
df = pd.DataFrame(data, columns=columns)

In [63]:
df

,id,id_jugador,dni,nombre,apellidos,nick,email,telefono,residencia,talla,discapacidades,observaciones
0,2,TGS001,2890337,Tomas,Garcia Saiz,smurf,tgarsa@gmail.com,916290532,Madrid,XXL,Multiples,Tonto el culo
1,3,TGS002,2890336,Tomas,Garcia Saiz,smurf,tgarsa@gmail.com,916290532,Madrid,XXL,Multiples,Tonto el culo
2,4,TGS003,2890336,Tomas,Garcia Saiz,smurf,tgarsa@gmail.com,91614297911,Madrid,XXL,Multiples,Tonto el culo
3,5,TGS004,2890337,Tomas,Garcia Saiz,smurf,tgarsa@me.com,916290532,Madrid,XXL,Multiples,Tonto el culo
4,6,TGS005,2890337,Tomas,Garcia Saiz,smurf,tgarsa@me.com,916290532,Madrid,XXL,Multiples,Tonto el culo
5,7,TGS006,2890331,Tomas,Garcia Saiz,smurf,tgarsa@me.com,916290532,Madrid,XXL,Multiples,Tonto el culo
6,8,IAGS001,2890331,Ignacio Antonio,Garcia Saiz,smurf,tgarsa@me.com,916290532,Madrid,XXL,Multiples,Tonto el culo
7,9,IAGS002,2890331,Ignacio Antonio,Garcia Saiz,smurf,tgarsa@me.com,916290532,Madrid,XXL,Multiples,Tonto el culo
8,11,IAGS004,2890339,Ignacio Antonio,Garcia Saiz,smurf,tgarsa@me.com,916290533,Madrid,XXL,Multiples,Tonto el culo
9,12,IAGS005,2890339,Ignacio Antonio,Garcia Saiz,smurf,tgarsa@me.com,916290533,Madrid,XXL,Multiples,Tonto el culo
10,13,IAGS006,2890342,Ignacio Antonio,Garcia Saiz,smurf,tgarsa2@me.com,916290534,Madrid,XXL,Multiples,Tonto el culo
11,10,IAGS003,2890339,Ignacio Antonio,Garcia Saiz,smurf,tgarsa@gmail.com,916290533,Verona,XXL,Multiples,Tonto el culo

In [64]:
columns = list(df)

In [65]:
columns = list(df.columns)

In [66]:
columns.remove('id_jugador')

In [67]:
columns

['id',
 'dni',
 'nombre',
 'apellidos',
 'nick',
 'email',
 'telefono',
 'residencia',
 'talla',
 'discapacidades',
 'observaciones']

In [68]:
sql =  "select * from jugadores where nick = 'smurf' and dni = '2890337'"

In [69]:
cursor.execute(sql)
print('Number of rows: {}'.format(cursor.rowcount))
data = cursor.fetchall()
df = pd.DataFrame(data, columns=columns)

Number of rows: 3

ValueError: 11 columns passed, passed data had 12 columns

In [ ]:
df